<div >
    <nav class="navbar navbar-expand-lg  navbar navbar-dark" style="background:linear-gradient(-135deg, #c850c0, #4158d0);">
        <h1 class="navbar-brand" >My-School</h1>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto topnav ">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="Home">Home</a>
                </li>
                <li class="nav-item " routerLinkActive="active">
                    <a class="nav-link" routerLink="Details">Details</a>
                </li>

                <li class="nav-item dropdown" routerLinkActive="active" >
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Student Operations
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="background:linear-gradient(-135deg, #c850c0, #4158d0);" >
                      <li routerLinkActive="active"><a class="dropdown-item temp" href="#" >Link 1</a></li>
                      <li routerLinkActive="active"><a class="dropdown-item temp" href="#" >Link 2</a></li>
                      
                      <li routerLinkActive="active"><a class="dropdown-item temp" href="#" >Link 3</a></li>
                    </ul>
                  </li>
                
                

            </ul>
            
        </div>
        <div class="d-flex">
            
            <ul class="navbar-nav ml-auto topnav">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="Feedback">Feedback</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="Contactus">Contact Us</a>
                </li>
                <li class="nav-item d-flex" routerLinkActive="active">
                    <a class="nav-link btn btn-primary text-white" type="button" routerLink="Login" data-toggle="modal"
                        data-target="#myModal">Login</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link btn btn-danger text-white" type="button" routerLink="Register" data-toggle="modal"
                        data-target="#myModal">Register</a>
                </li>
            </ul>
        </div>
    </nav>
    <router-outlet></router-outlet>
</div>
