.topnav a:hover {
    border-bottom: 3px solid red;
}

.temp{
    color:white;
}

.temp:hover{
    color: black;
}

.navbar-nav > .active { 
    background:linear-gradient(-135deg, #c850c0, #4158d0);
}
