
<div id="mainid" >

<div class="wrapper" >

      <div class="title" >Login</div>
      <form >
        <div class="field">
          <input type="text" name="x1" required>
          <label>Roll Number</label>
        </div>
        <div class="field">
          <input type="password" name="x2" required>
          <label>Password</label>
        </div>
       <br>
          
        <div class="field" >
          <input type="submit" value="Login">
        </div>
        <div class="signup-link">Not registered? <a [routerLink]="['/Register']">Signup now</a></div>
        
      </form>
    </div>
    </div>













