<div id="mainid">

    <div class="wrapper">
  
      <div class="title">Contact Us</div>
      <form>
        <div class="field">
          <input type="text" name="x1" required>
          <label>Firstname</label>
        </div>
        <div class="field">
          <input type="text" name="x2" required>
          <label>Lastname</label>
        </div>
        
        <div class="field">
          <input type="text" name="x3" required>
          <label>Email</label>
        </div>
        <div class="field">
          <input type="text" name="x4" required>
          <label>Reason for Contact</label>
        </div>
        <br>
  
        <div class="field">
          <input type="submit" value="Submit">
        </div>
  
      </form>
    </div>
  </div>
